<launch>
    <arg name="resolution"          default="1080" />
    <arg name="fps"                 default="60" />
    <arg name="format"              default="YUYV" />
    <arg name="subsystem"           default="video4linux" />

    <arg name="cam1_serial"         default="5311372000050" />
    <arg name="cam2_serial"         default="5311372000739" />

    <arg name="cam1_ns"             default="left_cam" />
    <arg name="cam2_ns"             default="right_cam" />

    <param name="resolution"		type="str"      value="$(arg resolution)" />
    <param name="fps"			    type="str"      value="$(arg fps)" />
    <param name="format"			type="str"      value="$(arg format)" />
    <param name="subsystem"			type="str"      value="$(arg subsystem)" />

    <group ns="$(arg cam1_ns)">
        <param name="serial"	    type="str"      value="$(arg cam1_serial)" />
        <node pkg="Sony_FDR-X3000" type="sony_stream.py" name="$(arg cam1_ns)" respawn="true" />
    </group>

    <group ns="$(arg cam2_ns)">
        <param name="serial"		type="str"      value="$(arg cam2_serial)" />
        <node pkg="Sony_FDR-X3000" type="sony_stream.py" name="$(arg cam2_ns)" respawn="true" />
    </group>

</launch>
