<launch>
    <arg name="fps"				    default="60"/>
    <arg name="resolution"			default="1080"/>
    <arg name="format" 				default="YUYV"/>

    <arg name="ns1"                 default="sony_left_camera"/>
    <arg name="ns2"                 default="sony_right_camera"/>

    <param name="fps"			    type="int"  value="$(arg fps)"/>
    <param name="resolution"		type="str"  value="$(arg resolution)"/>
    <param name="format"			type="str"  value="$(arg format)"/>

    <group ns="$(arg ns1)">
        <param name="device_name"		value="/dev/sony-camera-left"/>

        <node pkg="Sony_FDR-X3000" type="sony_stream.py" name="$(arg ns1)" respawn="true"/>
    </group>


    <group ns="$(arg ns2)">
        <param name="device_name"		value="/dev/sony-camera-right"/>

        <node pkg="Sony_FDR-X3000" type="sony_stream.py" name="$(arg ns2)" respawn="true"/>
    </group>

</launch>
